BODY {
	background: url("fon.png");
	margin: 0px;
}
.form {
	background: grey;
	width: 60%;
	margin-left: 20%;
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 20px;
}
textarea {
	margin-left: 10px;
	font-size:20px;
	padding: 5px;
}
.form-group {
	margin-top: 20px;
}
h1 {
	text-align: center;
}
main {
	margin-right: 0;
	font-size: 25px;
	text-align: justify;
}
.form-group {
	margin: 5px auto;
}
.form-label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}
.button {
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
	margin-left: 50%;
}
footer {
	color: #FFB6C1;
	position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: #413D3D;
	font-size: 10px;
    width: 100%
}


